.npath {
  transform-origin: center;
  transform-box: fill-box;
  transition: transform 150ms ease-in-out;
  transition: fill 300ms;
}

.npath:hover {
  stroke: black;
  stroke-width: 5px;
  transform: scale(1.05);
}
