.tip {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), */
    /* 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

.tip-info {
  font-size: 60px;
}
